.login-header{
  text-align: center;
  color: green;
}
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-weight: 500;
  }
  
.login-page label {
    margin-bottom: 10px;
    /* display: block; */
  }
  
.login-page label input[type='text'],
.login-page label input[type='password'] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 7px;
    /* display:block; */
    width: 100%;
  }
  
.login-page button {
    padding: 10px 20px;
    background-color: #2e6da4;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .login-page button:hover {
    background-color: #1d4c78;
  }
  
.login-page .navigateToRegister{
  margin: 20px 15px;
  background-color: none;
  border: 1px;
}
.navigateToRegister a{
  background-color: white;
  border: none;
  text-decoration: none;
  color: #2e6da4;
  
}
.navigateToRegister a:hover {
  background-color: white;
  border-bottom: 1px solid  #1d4c78 dashed;
  border-bottom-style: dotted;
  border-radius: 5px;
  
}

.backButton{
  position: absolute;
  width: 50px;
  height: auto;
  left: 20px;
  top: 20px;
}